div {
  min-height:60px;
  color: black;
}
.blue {
  background-color:darkblue;
  border:5px solid black; 
}
.magenta {
  background-color:#8B008B;
}

.orange {
  background-color:#FF8C00;
}

.red {
  background-color:#8B0000;
}

.pink {
  background-color:#FF1493;
}

.gold {
  background-color:#FFD700;
}

.green {
  background-color:#008000;
}
.coral {
  background-color:#F08080;
}
.aqua {
  background-color:#66CDAA;
}
